SugarCRM/XSD/SugarCRM_1/Leads.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
<xsd:element name="Leads">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="row" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ObjectID" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Id" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Applicable only for Query,Update,Delete Operation</xsd:documentation>
</xsd:annotation>
</xsd:element></xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SQL" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WHERE" type="xsd:string"/>
<xsd:element name="ORDER_BY" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="Fields" minOccurs="0">
<xsd:complexType>
<xsd:all>
<xsd:element name="opportunity_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="primary_address_city" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="status_description" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="webtolead_email1" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="contact_id" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="webtolead_email2" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="assigned_user_id" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="lead_source_description" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="primary_address_postalcode" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="first_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="phone_fax" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="assistant" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="75"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="invalid_email" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:boolean">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="description" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="accept_status_id" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="created_by" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="opportunity_id" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="assistant_phone" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="account_id" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="status" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Converted"/>
<xsd:enumeration value="Recycled"/>
<xsd:enumeration value="New"/>
<xsd:enumeration value="Dead"/>
<xsd:enumeration value="In Process"/>
<xsd:enumeration value="Assigned"/>
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="alt_address_state" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="campaign_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="modified_user_id" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="deleted" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:boolean">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="campaign_id" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="account_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="report_to_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="phone_home" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="alt_address_street" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="lead_source" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Cold Call"/>
<xsd:enumeration value="Trade Show"/>
<xsd:enumeration value="Word of mouth"/>
<xsd:enumeration value="Self Generated"/>
<xsd:enumeration value="Other"/>
<xsd:enumeration value="Employee"/>
<xsd:enumeration value="Direct Mail"/>
<xsd:enumeration value="Campaign"/>
<xsd:enumeration value="Existing Customer"/>
<xsd:enumeration value="Email"/>
<xsd:enumeration value="Web Site"/>
<xsd:enumeration value="Public Relations"/>
<xsd:enumeration value="Partner"/>
<xsd:enumeration value="Conference"/>
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="email" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="refered_by" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="last_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="do_not_call" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:boolean">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="alt_address_country" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="assigned_user_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="primary_address_street_2" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="primary_address_street_3" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="alt_address_city" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="date_entered" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:dateTime">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="department" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="reports_to_id" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="primary_address_country" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="created_by_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="email_opt_out" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:boolean">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="accept_status_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Accepted"/>
<xsd:enumeration value="Declined"/>
<xsd:enumeration value="None"/>
<xsd:enumeration value="Tentative"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="id" minOccurs="0"><xsd:annotation>
<xsd:documentation>Applicable only for Create Operation</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="title" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="alt_address_postalcode" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="account_description" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="birthdate" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:date">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="opportunity_amount" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="primary_address_state" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="alt_address_street_3" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="c_accept_status_fields" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="email_addresses_non_primary" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="website" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="date_modified" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:dateTime">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="converted" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:boolean">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="phone_work" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="modified_by_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="portal_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="portal_app" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="email1" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="webtolead_email_opt_out" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:boolean">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="email2" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="primary_address_street" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="alt_address_street_2" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="m_accept_status_fields" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="phone_other" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="salutation" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Mr."/>
<xsd:enumeration value="Mrs."/>
<xsd:enumeration value="Ms."/>
<xsd:enumeration value="Prof."/>
<xsd:enumeration value="Dr."/>
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="phone_mobile" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="webtolead_invalid_email" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:boolean">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="full_name" minOccurs="0"><xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="510"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="Return" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Id" type="xsd:string"/>
<xsd:element name="Success" type="xsd:boolean"/>
<xsd:element name="Error"  minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Code" type="xsd:string"/>
<xsd:element name="Name" type="xsd:string"/>
<xsd:element name="Description" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
